/*Fonts*/

@font-face {
  font-family: "RobotoM";
  font-style: medium;
  font-weight: 500;
  src: local(""), url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "RobotoB";
  font-style: bold;
  font-weight: 700;
  src: local(""), url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
}

/* Variables */

:root {
  --basic-text: #000000;
  --pagination-current: #dbdbdb;
  --basic-text-catalog: rgba(0, 0, 0, 0.3);
  --basic-text-sorting: rgba(0, 0, 0, 0.6);
  --basic-text-form: rgba(0, 0, 0, 0.25);
  --basic-text-range: rgba(0, 0, 0, 0.15);
  --basic-text400: #283136;
  --radio-disabled: rgba(40, 49, 54, 0.3);
  --button-text: #ffffff;
  --button-slider: rgba(255, 255, 255, 0.3);
  --background-img: #888888;
  --button-website: #fb565a;
  --button-aiming-web: #E74246;
  --button-pressing-web: #D7373B;
  --button-aiming-app: #00BC6C;
  --button-pressing-app: #00AA62;
  --button-aiming-pres: #EAB534;
  --button-pressing-pres: #E5A722;
  --button-application: #00ca74;
  --production__button-presentations: #efc849;
  --address__address: #666666;
  --socials__button: #e1e1e1;
  --socials__discount-text: #444444;
  --pager__button: #eeeeee;
  --pager-link--active: #c1c1c1;
  --price-scale: #D7DCDF;
  --range-after: #ABABAB;
  --input-form: #4d4d4d;
  --radio-input-form: rgba(77, 77, 77, 0.4);
  --catalog-background: rgba(77, 77, 77, 0.122);
  --radio-dis: rgba(77, 77, 77, 0.1);
  --pagination: #dfdfdf;
  --pagination-active: #d5d5d5;
  --border-input: #D7DCDE;
  --input-text: rgba(68, 68, 68, 0.5);
  --border-input-hover: #B4B9BB;
  --sorting-hover: #a6a6a6;
  --sorting-up: rgba(166, 166, 166, 0.2);
  --sorting-activ-img: #231f20;
  --page-ac: rgba(0, 1, 1, 0.1);
  --modal-box: rgba(0, 1, 1, 0.75);

}

/* Global*/

body {
  font-family: "Roboto", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-text400);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.red-button {
  font-family: "RobotoM", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 18px;
  color: var(--button-text);
  background-color: var(--button-website);
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  min-width: 209px;
  padding: 17px 14px 16px;
  text-align: center;
  border-radius: 3px;
  text-transform: uppercase;
  border: none;
}

.page {
  height: 100%;
}

/* navigation*/

.navigation {
  font-family: "RobotoM", "Arial", "sans-serif";
  font-size: 16px;
  color: var(--basic-text);
  background-color: var(--pager__button);
  text-transform: uppercase;
  padding-top: 77px;
}

.navigation__container {
  width: 1157px;
  margin: 0 auto;
  position: relative;
}

.navigation__logo {
  position: absolute;
  left: -3px;
  top: -31px;
  display: block;
}

.navigation__logo:hover {
  opacity: 0.7;
}

.navigation__logo:focus {
  opacity: 0.7;
}

.navigation__logo:active {
  opacity: 0.3;
}

.navigation__block {
  margin-left: 359px;
  padding-right: 360px;
  position: relative;
  box-sizing: border-box;
}

.navigation__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: -46px;
}

.navigation__item {
  margin-left: 46px;
  padding-bottom: 36px;
}

.navigation__link {
  text-decoration: none;
  color: var(--basic-text);
  position: relative;
}

.navigation__link:hover {
  color: var(--button-website);
}

.navigation__link:focus {
  color: var(--button-website);
}

.navigation__link:active {
  color: var(--basic-text-catalog);
}

.navigation__link--active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--button-website);
  bottom: -21px;
  left: 0;
}

.navigation__link--cart::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: url(../img/cart-icon.svg);
  left: -41px;
  top: 5px;
}

.navigation__link--cart {
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
}

/* promo */

.promo {
  background: var(--pager__button);
}

.promo__slider-container {
  width: 1157px;
  margin: 0 auto;
  position: relative;
}

.promo__slider {
  padding: 0;
  margin: 0;
  list-style: none;
}

.promo__slider-item {
  display: none;
  position: relative;
  padding-top: 56px;
  padding-bottom: 135px;
  min-height: 221px;
}

.promo__slider-item::after {
  content: "";
  position: absolute;
  display: block;
  width: 760px;
  height: 431px;
  right: 2px;
  top: -23px;
  z-index: 1;
}

.promo__slider-item--first::after {
  background: url("../img/nerds-index-slide-1.png") no-repeat top left;
}

.promo__slider-item--second::after {
  background: url("../img/nerds-index-slide-2.png") no-repeat top left;
}

.promo__slider-item--third::after {
  background: url("../img/nerds-index-slide-3.png") no-repeat top left;
}

.promo__slider-item--active {
  display: block;
}

.promo__slider-title {
  width: 525px;
  padding: 0;
  margin: 0 0 17px;
  font-family: "RobotoM", "Arial", "sans-serif";
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-text);
  background-color: transparent;
  position: relative;
  z-index: 10;
}

.promo__slider-text {
  font-family: "Roboto", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-text400);
  width: 409px;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 10;
  min-height: 93px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.promo__slider-text--first {
  padding-bottom: 25px;
}

.promo__slider-button {
  position: absolute;
  z-index: 10;
  bottom: 83px;
  left: 0;
}

.promo__slider-button:hover {
  background: var(--button-aiming-web);
}

.promo__slider-button:active {
  background: var(--button-pressing-web);
  color: var(--button-slider);
}

.promo__slider-pager {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  position: absolute;
  bottom: 85px;
  left: 50%;
  transform: translateX(-50%);
  margin-left: -10px;
  z-index: 11;
}

.promo__slider-pager-item {
  margin-left: 17px;
  margin-bottom: 13px;
}

.promo__slider-pager-link {
  display: block;
  width: 18px;
  height: 18px;
  background: var(--button-text);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo__slider-pager-link--active::after {
  content: "";
  width: 8px;
  height: 8px;
  border: 2px solid var(--pager-link--active);
  box-sizing: border-box;
  display: block;
  border-radius: 50%;
}

/* productio */

.production {
  width: 1157px;
  margin: 77px auto 0;
  position: relative;
  padding-bottom: 77px;
  border-bottom: 1px solid var(--pager__button);
}

.production__list {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  column-gap: 40px;
}

.production__item {
  position: relative;
  padding-top: 171px;
}

.production__item::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 146px;
  display: block;
  top: 0;
  left: 0;
}

.production__item--web::before {
  background: url(../img/production-1.jpg) no-repeat top left;
}

.production__item--app::before {
  background: url(../img/production-2.jpg) no-repeat top left;
}

.production__item--pres::before {
  background: url(../img/production-3.jpg) no-repeat top left;
}

.production__title {
  font-family: "RobotoB", "Arial", "sans-serif";
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-text);
  text-transform: uppercase;
  padding: 0;
  margin: -1px 0 15px;
  list-style: none;
}

.production__text {
  font-family: "Roboto", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  margin: 16px 0 32px;
  list-style: none;
}

.production__button {
  font-family: "RobotoM", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 18px;
  color: var(--button-text);
  min-width: 130px;
}

.production__button:active {
  color: var(--button-slider);
}

.production__item--web .production__button {
  background-color: var(--button-website);
}

.production__item--web .production__button:hover {
  background-color: var(--button-aiming-web);
}

.production__item--web .production__button:active {
  background-color: var(--button-pressing-web);
}

.production__item--app .production__button {
  background-color: var(--button-application);
}

.production__item--app .production__button:hover {
  background-color: var(--button-aiming-app);
}

.production__item--app .production__button:active {
  background-color: var(--button-pressing-app);
}

.production__item--pres .production__button {
  background-color: var(--production__button-presentations);
}

.production__item--pres .production__button:hover {
  background-color: var(--button-aiming-pres);
}

.production__item--pres .production__button:active {
  background-color: var(--button-pressing-pres);
}

/*description*/

.descriptions-container {
  display: flex;
  justify-content: space-between;
  width: 1157px;
  margin: 32px auto 49px;
  position: relative;
  padding-bottom: 50px;
  border-bottom: 1px solid var(--pager__button);
}

.description {
  margin-top: 0;
  width: 660px;
}

.description__title {
  font-family: "RobotoM", "Arial", "sans-serif";
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-text);
  background-color: transparent;
  margin-bottom: 33px;
}

.description__subtitle {
  font-family: "Roboto", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 40px;
}

.description__caption {
  font-family: "RobotoB", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.description__jobs-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.description__job-item {
  font-family: "Roboto", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 24px;
  position: relative;
  margin-bottom: 24px;
  padding-left: 33px;
}

.description__job-item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background: var(--button-website);
  bottom: 11px;
  left: 0;
}

.plus {
  width: 360px;
  margin: 5px;
  position: relative;
  padding-top: 224px;
}

.plus::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 208px;
  display: block;
  top: 6px;
  left: 50%;
  transform: translateX(-48%);
  background: url(../img/nerds-illustration-1.png) no-repeat top left;
}

.plus__subtitle {
  font-family: "RobotoB", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-text);
  text-transform: uppercase;
  margin-top: 26px;
  margin-left: 24px;
  list-style: none;
}

.plus__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.plus__item {}

.plus__text {
  font-family: "RobotoB", "Arial", "sans-serif";
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-text);
  position: relative;
  padding-right: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 15px;
  margin-left: 6px;
  margin-bottom: 11px;
}

.plus__text-percent {
  font-family: "Roboto", "Arial", "sans-serif";
  font-size: 26px;
  line-height: 40px;
  color: var(--basic-text);
  position: absolute;
  right: -2px;
  top: 3px;
}

.plus__desc {
  font-family: "Roboto", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-text400);
  display: table-footer-group;
  text-align: left;
}

.partners {
  width: 1157px;
  margin: 0 auto 80px;
  padding-bottom: 31px;
  position: relative;
  border-bottom: 2px solid var(--pager__button);
}

.partners_list {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 38px;
  align-items: center;
}

.partners_link {
  color: var(--basic-text);
  opacity: 20%;
  display: inline-block;
  vertical-align: middle;
}

.partners_link:hover {
  color: var(--basic-text);
  opacity: 100%;
}

.partners_link:active {
  color: var(--basic-text);
  opacity: 10%;
}

.partners_item {
  text-align: center;
  position: relative;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners_item::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 52px;
  background: var(--pager__button);
  display: block;
  left: -20px;
  top: 50%;
  margin-top: -35px;
}

.partners_item:nth-child(4n+1)::before {
  display: none;
}

/*Footer*/

.address {
  position: relative;
  padding-top: 54px;
  padding-bottom: 54px;
  min-height: 250px;
  overflow: hidden;
  margin-bottom: 69px;
}

.address__map {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 1;
}

.address__map-google {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.address__block {
  background: var(--button-text);
  position: relative;
  z-index: 20;
  width: 319px;
  padding: 50px 48px 48px;
  box-sizing: border-box;
  left: 50%;
  transform: translateX(-578px);
}

.address__title {
  margin: 0 0 21px;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.address__address {
  font-size: 16px;
  line-height: 18px;
  color: var(--address__address);
  font-style: normal;
  margin-bottom: 16px;
}

.address__tel {
  font-size: 16px;
  line-height: 18px;
  color: var(--address__address);
  text-decoration: none;
  display: block;
  margin-bottom: 41px;
}

.address__button-write-us {
  color: var(--button-text);
  background-color: var(--button-website);
  min-width: 189px;
}

.socials {
  padding-bottom: 60px;
}

.socials__container {
  display: flex;
  justify-content: space-between;
  width: 1157px;
  margin: 0 auto;
}

.socials__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 261px;
  height: 81;
}

.socials__item {
  align-items: center;
}

.socials__button {
  display: block;
  background-color: var(--socials__button);
  width: 81px;
  height: 81px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials__button:hover {
  background-color: var(--button-aiming-web);
}

.socials__button:active {
  background-color: var(--button-pressing-web);
}

.socials__button:active::before {
  opacity: 0.3;
}

.socials__button::before {
  content: "";
  display: block;
}

.socials__button--vk::before {
  background: url("../img/vk-icon.svg") no-repeat top left;
  width: 26.01px;
  height: 15px;
}

.socials__button--fb::before {
  background: url("../img/fb-icon.svg");
  width: 12px;
  height: 22px;
}

.socials__button-insta::before {
  background: url("../img/insta-icon.svg");
  width: 21px;
  height: 21px;
}

.socials__discount {
  width: 758px;
  text-align: left;
  margin-top: 5px;
}

.socials__discount-slogan {
  padding: 0;
  margin: 0 0 11px;
  font-family: "RobotoB", "Arial", "sans-serif";
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-text);
}

.socials__discount-text {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 22px;
  color: var(--socials__discount-text);
}

.modal {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: var(--button-text);
  box-shadow: 0 20px 40px 0 var(--modal-box);
  width: 960px;
  height: 590px;
  padding: 60px 100px 85px 102px;
  box-sizing: border-box;
  z-index: 100;
  display: none;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.modal-error {
  animation: shake 0.6s;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.modal-contacts-name {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 33px;
}

.modal-login {
  padding: 0;
  margin: 0;
  width: 360px;
}

.modal-login-m {
  margin: 0 0 41px;
  padding: 0;
}

.modal-label {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-text);
  font-family: "RobotoB", "Arial", "sans-serif";
  display: block;
  margin-bottom: 10px;
}

.modal-input {
  font-family: "Roboto", "Arial", "sans-serif";
  width: 339px;
  height: 46px;
  border: 1px solid var(--border-input);
  border-radius: 3px;
  color: var(--input-text);
  font-size: 16px;
  line-height: 18px;
  padding-left: 17px;
}

.modal-input::placeholder {
  color: var(--input-text);
}

.modal-input:hover {
  border-color: var(--border-input-hover);
}

.modal-input:focus {
  border-color: var(--basic-text);
  color: var(--socials__discount-text);
}

.modal-input:focus::placeholder {
  color: var(--socials__discount-text);
}

.modal-input:invalid {
  border-color: var(--button-aiming-web);
  color: var(--button-aiming-web);
}

.modal-input.error {
  border-color: var(--button-aiming-web);
  color: var(--button-aiming-web);
}

.modal-input:invalid::placeholder {
  color: var(--button-aiming-web);
}

.modal-input.error::placeholder {
  color: var(--button-aiming-web);
}

.modal-letter {
  margin: 0 0 37px;
  padding: 0;
  font-family: "RobotoB", "Arial", "sans-serif";
  font-size: 45px;
  line-height: 53px;
}

.modal-message {
  width: 760px;
  height: 118px;
  border: 2px solid var(--border-input);
  box-sizing: border-box;
  border-radius: 3px;
  padding: 14px 15px;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", "Arial", "sans-serif";
  color: var(--input-text);
  resize: none;
}

.modal-message:hover {
  border-color: var(--border-input-hover);
}

.modal-message:focus {
  border-color: var(--basic-text);
  color: var(--socials__discount-text);
}

.modal-message:focus::placeholder {
  color: var(--socials__discount-text);
}

.modal-message:invalid {
  border-color: var(--button-aiming-web);
  color: var(--button-aiming-web);
}

.modal-message.error {
  border-color: var(--button-aiming-web);
  color: var(--button-aiming-web);
}

.modal-message:invalid::placeholder {
  color: var(--button-aiming-web);
}

.modal-message.error::placeholder {
  color: var(--button-aiming-web);
}

.modal-close {
  width: 21px;
  height: 21px;
  display: block;
  border: none;
  background: url(../img/close-cross.svg) no-repeat 0 0;
  position: absolute;
  right: 100px;
  top: 60px;
  right: 89px;
  top: 76px;
  cursor: pointer;
}

.modal-submit {
  min-width: 260px;
  height: 50px;
  cursor: pointer;
}

/*CATALOG*/

.mainly__title {
  padding: 54px 0 112px;
  margin: 0;
  background: var(--pager__button);
}

.mainly__title-text {
  width: 1157px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-text);
  display: block;
  margin: 0 auto;
  text-align: center;
}

.catalog-container {
  width: 1157px;
  margin: 0 auto;
  padding: 53px 0 0;
  display: block;
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-gap: 139px;
}

.filter {}

.filter-form {}

.form__section {
  margin-bottom: 10px;
}

.form__section--price {
  margin-bottom: 53px;
}

.form__section--grid {
  margin-bottom: 45px;
}

.form__section--features {
  margin-bottom: 52px;
}

.filter__title {
  padding: 0;
  margin: 0 0 49px 0;
  font-family: "Roboto", "Arial", "sans-serif";
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-text);
}

.filter__title--grid {
  margin-bottom: 14px;
}

.filter__title--features {
  margin-bottom: 14px;
}

.price-range-container {
  width: 260px;
  height: 80px;
  background: var(--pager__button);
  border-radius: 3px;
  position: relative;
  margin-bottom: 13px;
}

.price-scale {
  position: absolute;
  width: 205px;
  height: 2px;
  left: 26px;
  top: 39px;
  background: var(--price-scale);
}

.price-range {
  position: absolute;
  width: 138px;
  height: 2px;
  left: 0;
  top: 0;
  background: var(--button-application);
}

.range-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  background: var(--button-text);
  box-shadow: 0px 2px 1px var(--basic-text-range);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
}

.range-handle::after {
  content: "";
  width: 4px;
  height: 4px;
  background: var(--range-after);
  border-radius: 50%;
  display: block;
}

.range-handle--left {
  left: 0;
}

.range-handle--right {
  left: 69%;
}

.price-values-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.price-label {
  font-family: "Roboto", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--basic-text400);
}

.price-input {
  font-family: "Roboto", "Arial", "sans-serif";
  width: 80px;
  height: 38px;
  background: var(--pager__button);
  border-radius: 3px;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--basic-text400);
  text-align: center;
  border: none;
  margin-left: 6px;
}

.filter-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.grid-type-list {}

.grid-type-item {
  margin-bottom: 15px;
}

.radio-label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

.radio-label::before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 4px solid var(--radio-input-form);
  position: absolute;
  left: 0;
  top: -3px;
  display: block;
}

.radio-label::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: var(--radio-input-form);
  position: absolute;
  left: 8px;
  top: 5px;
  display: none;
}

.radio-label:hover::before {
  border-color: var(--input-form);
}

.radio-label:hover::after {
  background: var(--input-form);
}

.radio-input:checked+.radio-label::after {
  display: block;
}

.radio-input:focus+.radio-label {
  border-color: var(--input-form);
}

.radio-input:disabled+.radio-label {
  color: var(--radio-disabled);
}

.radio-input:disabled+.radio-label::before {
  border-color: var(--radio-dis);
}

.radio-input:disabled+.radio-label::after {
  background: var(--radio-dis);
}

.checkbox-label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

.checkbox-label::after {
  content: "";
  background: url(../img/checkbox-off.svg) no-repeat top left;
  position: absolute;
  width: 23px;
  height: 23px;
  display: block;
  left: 0;
  top: 0;
  opacity: 0.4;
}

.checkbox-label::before {
  content: "";
  background: url(../img/checkbox-on.svg) no-repeat top left;
  width: 26px;
  height: 23px;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.4;
}

.checkbox-label:hover::after {
  opacity: 1;
}

.checkbox-label:hover::before {
  opacity: 1;
}

.checkbox-input:checked+.checkbox-label::after {
  display: none;
}

.checkbox-input:checked+.checkbox-label::before {
  display: block;
}

.checkbox-input:focus+.checkbox-label {}

.checkbox-input:disabled+.checkbox-label {
  color: var(--radio-disabled);
}

.checkbox-input:disabled+.checkbox-label::before {
  opacity: 0.1;
}

.checkbox-input:disabled+.checkbox-label::after {
  opacity: 0.1;
}

.filter-submit {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-text);
  background: var(--pager__button);
  border-radius: 3px;
  border: none;
  min-width: 260px;
  height: 50px;
  text-transform: uppercase;
  cursor: pointer;
}

.filter-submit:hover {
  background: var(--pagination);
}

.filter-submit:focus {
  background: var(--pagination);
}

.filter-submit:active {
  background: var(--pagination-active);
  color: var(--basic-text-catalog);
}

.sorting {
  margin: 0 0 40px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 760px;
  justify-content: space-between;
}

.sorting__title {
  padding: 0;
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-text);
  text-transform: uppercase;
}

.sorting-container {
  position: relative;
  padding-right: 89px;
  max-width: 500px;
}

.sorting__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.sorting__item {
  margin-bottom: 14px;
  display: block;
  margin-left: 25px;
}

.sorting__link {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-text-catalog);
  text-transform: uppercase;
  text-decoration: none;
}

.sorting__link:hover {
  color: var(--basic-text-sorting);
}

.sorting__link:focus {
  color: var(--basic-text-sorting);
  outline: none;
}

.sorting__link:active {
  color: var(--basic-text);
}

.sorting__link--active {
  color: var(--basic-text);
}

.sorting-direction {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.sorting-direction__item {
  margin-left: 17px;
}

.sorting-direction__link {
  display: block;
}

.sorting-direction-img {
  fill: var(--sorting-up);
}

.sorting-direction-img--up {
  transform: rotate(180deg);
}

.sorting-direction__link:hover .sorting-direction-img {
  fill: var(--sorting-hover);
}

.sorting-direction__link:focus .sorting-direction-img {
  fill: var(--sorting-hover);
}

.sorting-direction__link:active .sorting-direction-img {
  fill: var(--sorting-activ-img);
}

.sorting-direction__link--active .sorting-direction-img {
  fill: var(--sorting-activ-img);
}

.page-catalog {
  width: 100%;
  position: relative;
}

.catalog__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 26px;
  justify-content: space-between;
}

.catalog__item {
  width: 358px;
  min-height: 578px;
  margin-bottom: 30px;
  background: var(--catalog-background);
  padding-top: 41px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.catalog__item:hover {
  background: var(--input-form);
  box-shadow: 0px 6px 15px var(--basic-text-form);
}

.catalog__item:focus-within {
  background: var(--input-form);
  box-shadow: 0px 6px 15px var(--basic-text-form);
}

.catalog__item-decor {
  width: 14px;
  height: 14px;
  display: block;
  border-radius: 50%;
  position: absolute;
  background: var(--button-text);
  top: 13px;
  left: 16px;
}

.catalog__item-decor::before {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  background: var(--button-text);
  width: 14px;
  height: 14px;
  top: 0;
  right: -22px;
}

.catalog__item-decor::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  background: var(--button-text);
  width: 14px;
  height: 14px;
  top: 0;
  right: -46px;
}

.catalog__img {
  display: block;
}

.catalog__info-block {
  position: absolute;
  background: var(--pager__button);
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 23px 0 111px;
  min-height: 231px;
  box-sizing: border-box;
  text-align: center;
  opacity: 0;
}

.catalog__item:hover .catalog__info-block {
  opacity: 1;
}

.catalog__item:focus-within .catalog__info-block {
  opacity: 1;
}

.catalog__info-block-title {
  font-family: "RobotoB", "Arial", "sans-serif";
  padding: 0;
  margin: 0 auto 11px;
  max-width: 80%;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-text);
  text-transform: uppercase;
  text-decoration: none;
}

.catalog__info-block-title:hover {
  color: var(--button-website);
}

.catalog__info-block-title:active {
  color: var(--basic-text-catalog);
}

.catalog__info-block-text {
  width: 180px;
  font-size: 16px;
  line-height: 18px;
  color: var(--address__address);
  margin: 0 auto;
  text-align: center;
  padding: 0;
  min-height: 53px;
}

.catalog__info-block-button {
  font-size: 16px;
  line-height: 18px;
  color: var(--button-text);
  background: var(--button-website);
  display: inline-block;
  min-width: 189px;
  margin: 0 auto;
  padding: 15px 5px 17px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 48px;
}

.catalog__info-block-button:hover {
  background: var(--button-aiming-web);
}

.catalog__info-block-button:active {
  background: var(--button-pressing-web);
}

.pagination {
  margin-bottom: 60px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item {
  margin-right: 10px;
}

.page-number {
  display: block;
  padding: 13px 8px;
  font-family: "RobotoM", "Arial", "sans-serif";
  line-height: 18px;
  text-align: center;
  color: var(--basic-text);
  text-transform: uppercase;
  background-color: var(--pager__button);
  border-radius: 3px;
  text-decoration: none;
  min-width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: 3px solid transparent;
}

.next-page {
  min-width: 263px;
}

.page-number--current {
  background: transparent;
  border: 3px solid var(--pagination-current);
}

.page-number:hover {
  background: var(--pagination);
}

.page-number:focus {
  background: var(--pagination);
}

.page-number:active {
  background: var(--pagination-active);
  color: var(--basic-text-catalog);
}
